h1{
    text-align: center;
}

.form{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px;
    width: 20%;
}

.row{
    width: 100%;
    color: white;
    font-size: 1.8rem;
    text-align: center;
    box-sizing: border-box;
}
.table {
    width: 90%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border-style: ridge;
    margin: 0 auto;
    background-color:rgb(255, 165, 50);
}