.Button {
    display: block;
    background-color: pink;
    border: 2px solid green;
    border-radius: 6px;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 2px;
    margin: 10px auto;
    font-weight: bold;
}