h1{
    text-align: center;
}

.homeTitle{
    text-align: center;
    color: blue;
    font-family: fantasy;
}

img{
    background-color: white;
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.center{
    display: block;
    text-align: center;
}

.form{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px;
    width: 20%;
}

.row{
    background-color: blue;
}